<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83383791820-dte1b318cblhn22lqg7phnatvipg4v25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83383791820-dte1b318cblhn22lqg7phnatvipg4v25</string>
	<key>API_KEY</key>
	<string>AIzaSyA3WlYHbQq7UD19JmjzXXMWQtHs6MHHfUk</string>
	<key>GCM_SENDER_ID</key>
	<string>83383791820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximiliano.PruebaTecnicaiOS</string>
	<key>PROJECT_ID</key>
	<string>pruebatecnicaios</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebatecnicaios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83383791820:ios:c7e729d401589a40f01269</string>
</dict>
</plist>